<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>005.png</string>
				<key>nickName</key>
				<string>我是我</string>
				<key>intro</key>
				<string>我就是我，颜色不一样的烟火</string>
				<key>vip</key>
				<integer>1</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>003.png</string>
				<key>nickName</key>
				<string>是是是</string>
				<key>intro</key>
				<string>无话可说</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>004.png</string>
				<key>nickName</key>
				<string>就像明天</string>
				<key>intro</key>
				<string>今天天气好清凉</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>0</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>试讲</string>
				<key>intro</key>
				<string>你管我</string>
				<key>vip</key>
				<integer>1</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
		</array>
		<key>groupName</key>
		<string>我的好友</string>
		<key>totalPersonCount</key>
		<integer>6</integer>
		<key>onlinePersonCount</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>0</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>005.png</string>
				<key>nickName</key>
				<string>我是我</string>
				<key>intro</key>
				<string>我就是我，颜色不一样的烟火</string>
				<key>vip</key>
				<integer>1</integer>
				<key>online</key>
				<integer>0</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>003.png</string>
				<key>nickName</key>
				<string>是是是</string>
				<key>intro</key>
				<string>无话可说</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>004.png</string>
				<key>nickName</key>
				<string>就像明天</string>
				<key>intro</key>
				<string>今天天气好清凉</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
		</array>
		<key>groupName</key>
		<string>最熟悉的陌生人</string>
		<key>totalPersonCount</key>
		<integer>4</integer>
		<key>onlinePersonCount</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>005.png</string>
				<key>nickName</key>
				<string>我是我</string>
				<key>intro</key>
				<string>我就是我，颜色不一样的烟火</string>
				<key>vip</key>
				<integer>1</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>003.png</string>
				<key>nickName</key>
				<string>是是是</string>
				<key>intro</key>
				<string>无话可说</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>004.png</string>
				<key>nickName</key>
				<string>就像明天</string>
				<key>intro</key>
				<string>今天天气好清凉</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>试讲</string>
				<key>intro</key>
				<string>你管我</string>
				<key>vip</key>
				<integer>1</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>007.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
		</array>
		<key>groupName</key>
		<string>雨声寄来</string>
		<key>totalPersonCount</key>
		<integer>12</integer>
		<key>onlinePersonCount</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>005.png</string>
				<key>nickName</key>
				<string>我是我</string>
				<key>intro</key>
				<string>我就是我，颜色不一样的烟火</string>
				<key>vip</key>
				<integer>1</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>003.png</string>
				<key>nickName</key>
				<string>是是是</string>
				<key>intro</key>
				<string>无话可说</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>1</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>004.png</string>
				<key>nickName</key>
				<string>就像明天</string>
				<key>intro</key>
				<string>今天天气好清凉</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>0</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>试讲</string>
				<key>intro</key>
				<string>你管我</string>
				<key>vip</key>
				<integer>1</integer>
				<key>online</key>
				<integer>0</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>0</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>0</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>0</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>0</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？我最近有点郁闷</string>
					<string>好久不见！</string>
					<string>最近看了一本好书，叫做《天影》，萧鼎新书！现在起点月篇榜第一，而且月票数量快要破十万了！相信这本书的成绩不会逊色太多与他的成名作《诛仙》！</string>
				</array>
			</dict>
		</array>
		<key>groupName</key>
		<string>潇时玩乐</string>
		<key>totalPersonCount</key>
		<integer>9</integer>
		<key>onlinePersonCount</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>001.png</string>
				<key>nickName</key>
				<string>昨日如烟</string>
				<key>intro</key>
				<string>你就是这样的好啊</string>
				<key>vip</key>
				<integer>0</integer>
				<key>online</key>
				<integer>0</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
			<dict>
				<key>iconName</key>
				<string>005.png</string>
				<key>nickName</key>
				<string>我是我</string>
				<key>intro</key>
				<string>我就是我，颜色不一样的烟火</string>
				<key>vip</key>
				<integer>1</integer>
				<key>online</key>
				<integer>0</integer>
				<key>chatLog</key>
				<array>
					<string>最近好吗？</string>
					<string>好久不见！</string>
				</array>
			</dict>
		</array>
		<key>groupName</key>
		<string>沉吟教诲</string>
		<key>totalPersonCount</key>
		<integer>2</integer>
		<key>onlinePersonCount</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
